<div class='footer'>
  <div class='footer-contents'>
    <div class='english-lesson-details'>
      <h2 class='footer-content-head'>ENGLISH_LESSONについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ENGLISH_LESSON利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='english-lesson-details'>
      <h2 class='footer-content-head'>ENGLISH_LESSONを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='english-lesson-details'>
      <h2 class='footer-content-head'>ENGLISH_LESSONについて</h2>
      <ul>
        <li><%= link_to 'ENGLISH_LESSONガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ENGLISH_LESSONロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("lesson-logo.png", class:"logo-white"), "#" %>
  <p>© ENGLISH_LESSON</p>
</div>