<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("lesson-logo.png", class:"lesson-icon"), "/" %>
    <%= form_with(url: search_lessons_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "レッスンを検索する", class: "search-input" %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li>カテゴリー
        <ul>
          <li><%= link_to '日常会話', "#" %></li>
          <li><%= link_to 'ビジネス', "#" %></li>
          <li><%= link_to '資格試験', "#" %></li>
          <li><%= link_to '海外旅行', "#" %></li>
        </ul>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if teacher_signed_in? %>
       <li><%= link_to current_teacher.nickname, "#", class: "user-nickname" %></li>
       <li><%= link_to 'ログアウト', destroy_teacher_session_path, class: "logout" %></li>
      <% elsif student_signed_in? %>
       <li><%= link_to current_student.nickname, "#", class: "user-nickname" %></li>
       <li><%= link_to 'ログアウト', destroy_student_session_path, class: "logout" %></li>
      <% else %>
        <li>ログイン
          <ul>
            <li><%= link_to '生徒でログイン', new_student_session_path, method: :get, class: "login" %></li>
            <li><%= link_to '講師でログイン', new_teacher_session_path, class: "login"%></li>
          </ul>
        </li>
        <li>新規登録
          <ul>
            <li><%= link_to '生徒で新規登録', new_student_registration_path, class: "sign-up" %></li>
            <li><%= link_to '講師で新規登録', new_teacher_registration_path, class: "sign-up" %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</header>