<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      購入内容の確認
    </h1>
    <%# 購入内容の表示 %>
    <div class='buy-lesson-info'>
      <%= image_tag @lesson.image, class: 'buy-lesson-img' %>
      <div class='buy-lesson-right-content'>
        <h2 class='buy-lesson-text'>
          <%= @lesson.name %>
        </h2>
        <div class='buy-lesson-price'>
          <p class='lesson-price-text'>¥<%= @lesson.price %></p>
          <p class='lesson-price-sub-text'>（税込)</p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <%# 支払額の表示 %>
    <div class='lesson-payment'>
      <h1 class='lesson-payment-title'>
        支払金額
      </h1>
      <p class='lesson-payment-price'>
        ¥<%= @lesson.price %>
      </p>
    </div>
    <%# /支払額の表示 %>

    <%= form_with model: @orderstudentdetail, url: lesson_orders_path, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# カード情報の入力 %>
    <div class='credit-card-form'>
      <h1 class='info-input-haedline'>
        クレジットカード情報入力
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード情報</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :number, class:"input-default", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <%= f.text_area :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)3" %>
          <p>月</p>
          <%= f.text_area :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)23" %>
          <p>年</p>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :cvc,class:"input-default", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
      </div>
    </div>
    <%# /カード情報の入力 %>

    <%# 回答の入力 %>
    <div class='shipping-questionnaire-form'>
      <h1 class='info-input-haedline'>
        質問に答えてください
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">居住地</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :living_place, class:"input-default", id:"living-place", placeholder:"居住地（必須 30文字まで)" %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">留学経験</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:ryugaku_experience_id, RyugakuExperience.all, :id, :name, {}, {class:"select-box", id:"ryugaku_experience_id"}) %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">TOEICやILETSの点数</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:english_test_id, EnglishTest.all, :id, :name, {}, {class:"select-box", id:"english_test_id"}) %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">海外在住歴</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:overseas_residence_history_id, OverseasResidenceHistory.all, :id, :name, {}, {class:"select-box", id:"overseas-residence-history-id"}) %>
      </div>

    </div>
    <%# /回答の入力 %>
    <div class='buy-btn'>
      <%= f.submit "購入" ,class:"buy-red-btn" %>
    </div>
    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>