<div class="lessons-sell-contents">
  <header class="lessons-sell-header">
    <%= link_to image_tag('lesson-logo.png' , size: '185x50'), "/" %>
  </header>
  <div class="lessons-sell-main">
    <h2 class="lesson-sell-title">レッスンの情報を入力</h2>
    <%= form_with model: @lesson, url: lesson_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# レッスン画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        レッスン画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"lesson-image" %>
      </div>
    </div>
    <%# /レッスン画像 %>
    <%# レッスン名とレッスンの説明 %>
    <div class="new-lessons">
      <div class="weight-bold-text">
        レッスン名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"lessons-text", id:"lesson-name", placeholder:"レッスン名（必須 40文字まで)" %>
      <div class="lessons-explain">
        <div class="weight-bold-text">
          レッスンの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :details, class:"lessons-text", id:"lesson-info", placeholder:"レッスンの説明（必須 1000文字まで)" ,rows:"7" %>
      </div>
    </div>
    <%# /レッスン名とレッスンの説明 %>

    <%# レッスンの詳細 %>
    <div class="lessons-detail">
      <div class="weight-bold-text">レッスンの詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category_id"}) %>
        <div class="weight-bold-text">
          レッスンの回数
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:number_of_times_id, NumberOfTimes.all, :id, :name, {}, {class:"select-box", id:"number-of-times-id"}) %>
        <div class="weight-bold-text">
          レッスンを実施する曜日
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :what_day, class:"input-default", id:"what-day", placeholder:"曜日（必須 30文字まで)" %>
        <div class="weight-bold-text">
          開始時間
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:start_time_id, StartTime.all, :id, :name, {}, {class:"select-box", id:"start-time-id"}) %>
        <div class="weight-bold-text">
          終了時間
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:end_time_id, EndTime.all, :id, :name, {}, {class:"select-box", id:"end-time-id"}) %>
      </div>
    </div>
    <%# /レッスンの詳細 %>

    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥300〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"lesson-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
          </span>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている出品、</a>
        <a href="#">行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        また、出品をもちまして
        <a href="#">加盟店規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>

  <footer class="lessons-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ENGLISH_LESSON利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('lesson-logo.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎ENGLISH_LESSON,Inc.
    </p>
  </footer>
</div>