<%= render "shared/header" %>

<div class='main'>
  <%# 画面上部の「人生を豊かにする英語レッスン」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生を豊かにする英語レッスン
    </h2>
    <p class='service-explain'>
      誰でも簡単に英語レッスンを出品・購入できるマッチングアプリです。
    </p>
    <p class='service-explain'>
      レッスン自体はzoomで行います。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を豊かにする英語レッスン」帯部分  %>

  <%# ENGLISH_LESSONが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      ENGLISH_LESSONが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "lesson-intro01.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>5分</span>
          ですぐにレッスンを出品できる
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単にレッスンを出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "lesson-intro02.png", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>自由</span>
          に講師がレッスンを構成できる
        </h3>
        <p class='reason-list-description'>
          生徒は英語のレッスンだけでなく、現地の生の情報も知ることができる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "lesson-intro03.png", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>業界最安</span>
           の手数料
        </h3>
        <p class='reason-list-description'>
          最大5%でお得に出品&受講！
        </p>
      </li>
    </ul>
  </div>
  <%# /ENGLISH_LESSONが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      レッスンの出品・購入回数が業界最多です！
    </p>
    <p class='ad-explain'>
      良い講師を見つけることで、人生が変わるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# レッスン一覧 %>
  <div class='lesson-contents'>
    <h2 class='title'>レッスン一覧</h2>
    <ul class='lesson-lists'>
     <% @lesson.each do |lesson| %>
      <li class='list'>
        <%= link_to lesson_path(lesson.id) do %>
        <div class='lesson-img-content'>
          <%= image_tag lesson.image, class: "lesson-img" %>
          <% if lesson.order %> 
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
        </div>
        <div class='lesson-info'>
          <h3 class='lesson-name'>
            <%= lesson.name %>
          </h3>
          <div class='lesson-price'>
            <span><%= lesson.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
     <% end %>
    </ul>
  </div>
  <%# /レッスン一覧 %>
</div>
<% if teacher_signed_in? %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <%= link_to new_lesson_path do %>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
</div>
<% end %>
<%= render "shared/footer" %>