<%= render "shared/header" %>

<%# レッスンの概要 %>
<div class="lesson-show">
  <div class="lesson-box">
    <h2 class="name">
      <%= @lesson.name %>
    </h2>
    <div class='lesson-img-content'>
      <%= image_tag @lesson.image, class:"lesson-box-img" %>
      <% if @lesson.order%>
       <div class='sold-out'>
        <span>Sold Out!!</span>
       </div> 
      <% end %>
    </div>
    <div class="lesson-price-box">
      <span class="lesson-price">
        <%= @lesson.price %>
      </span>
      <span class="lesson-postage">
        円(税込)
      </span>
    </div>

    <%# <% if teacher_signed_in? && current_teacher.id == @lesson.teacher_id %>
      <%# <%= link_to 'レッスンの編集', edit_lesson_path(@lesson.id), method: :get, class: "lesson-red-btn" %>
      <%# <p class='or-text'>or</p>  %>
      <%# <%= link_to '削除', lesson_path(@lesson.id), method: :delete, class:'lesson-destroy' %>
    <%# <% end %>

    <%# <% if student_signed_in? && @lesson.order == nil %>
      <%# <%= link_to '購入画面に進む', lesson_orders_path(@lesson.id) ,class:"lesson-red-btn"%>
    <%# <% end %>
    <div class="lesson-explain-box">
      <h2 class="detail">
        レッスン詳細説明文
      </h2>
      <h2 class="detail-sentence">
        <%= @lesson.details %>
      </h2>
    </div>
    <table class="detail-table-lesson">
      <h2 class="detail">
        レッスン詳細一覧表
      </h2>
        <tbody>
          <tr>
            <th class="detail-lesson">カテゴリー</th>
            <td class="detail-value"><%= @lesson.category.name %></td>
          </tr>
          <tr>
            <th class="detail-lesson">レッスンの回数</th>
            <td class="detail-value"><%= @lesson.number_of_times.name %></td>
          </tr>
          <tr>
            <th class="detail-lesson">レッスンを実施する曜日</th>
            <td class="detail-value"><%= @lesson.what_day %></td>
          </tr>
          <tr>
            <th class="detail-lesson">開始時間</th>
            <td class="detail-value"><%= @lesson.start_time.name %></td>
          </tr>
          <tr>
            <th class="detail-lesson">終了時間</th>
            <td class="detail-value"><%= @lesson.end_time.name %></td>
          </tr>
        </tbody>
    </table>
    <% if student_signed_in? %>
      <table class="detail-table-teacher">
        <h2 class="profile">
          講師のプロフィール
        </h2>
        <tbody>
          <tr>
            <th class="detail-teacher">ニックネーム</th>
            <td class="detail-value"><%= @lesson.teacher.nickname %></td>
          </tr>
          <tr>
            <th class="detail-teacher">居住地</th>
            <td class="detail-value"><%= @lesson.teacher.living_place %></td>
          </tr>
          <tr>
            <th class="detail-teacher">留学経験</th>
            <td class="detail-value"><%= @lesson.teacher.ryugaku_experience.name %></td>
          </tr>
          <tr>
            <th class="detail-teacher">海外在住歴</th>
            <td class="detail-value"><%= @lesson.teacher.overseas_residence_history.name %></td>
          </tr>
          <tr>
            <th class="detail-teacher">TOEICやILETSの点数</th>
            <td class="detail-value"><%= @lesson.teacher.english_test.name %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% if teacher_signed_in? && current_teacher.id == @lesson.teacher_id && @lesson.order %>
      <table class="detail-table-student">
        <h2 class="profile">
          購入した生徒のプロフィール
        </h2>
        <tbody>
          <tr>
            <th class="detail-student">ニックネーム</th>
            <td class="detail-value"><%= @lesson.order.student.nickname %></td>
          </tr>
          <tr>
            <th class="detail-student">居住地</th>
            <td class="detail-value"><%= @lesson.order.student_detail.living_place %></td>
          </tr>
          <tr>
            <th class="detail-student">留学経験</th>
            <td class="detail-value"><%= @lesson.order.student_detail.ryugaku_experience.name %></td>
          </tr>
          <tr>
            <th class="detail-student">海外在住歴</th>
            <td class="detail-value"><%= @lesson.order.student_detail.overseas_residence_history.name %></td>
          </tr>
          <tr>
            <th class="detail-student">TOEICやILETSの点数</th>
            <td class="detail-value"><%= @lesson.order.student_detail.english_test.name %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <% if teacher_signed_in? && current_teacher.id == @lesson.teacher_id %>
      <%= link_to 'レッスンの編集', edit_lesson_path(@lesson.id), method: :get, class: "lesson-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', lesson_path(@lesson.id), method: :delete, class:'lesson-destroy' %>
    <% end %>

    <% if student_signed_in? && @lesson.order == nil %>
      <%= link_to '購入画面に進む', lesson_orders_path(@lesson.id) ,class:"lesson-red-btn"%>
    <% end %>

    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切なレッスンの通報</span>
      </div>
    </div>
  </div>
  <%# /レッスンの概要 %>

  <div class="comment-box">
    <% if teacher_signed_in? and current_teacher.id == @lesson.teacher_id %>
      <%= form_with(model: [@lesson, @comment], local: true) do |form| %>
        <%= form.text_area :text, class:"comment", placeholder: "コメントする" %>
        <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
        </button>
      <% end %>
    <% elsif student_signed_in? %>
      <%= form_with(model: [@lesson, @comment], local: true) do |form| %>
        <%= form.text_area :text, class:"comment", placeholder: "コメントする" %>
        <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
        </button>
      <% end %>
    <% end %>

    <div class="comments">
      <h4>＜講師コメント一覧＞</h4>
      <% if @teacher_comments %>
        <% @teacher_comments.each do |comment| %>
          <p>
            <strong><%= comment.teacher.nickname %>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="comments">
      <h4>＜生徒コメント一覧＞</h4>
      <% if @student_comments %>
        <% @student_comments.each do |comment| %>
          <p>
            <strong><%= comment.student.nickname %>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="comment-warn">
      不快な言葉遣いなどは利用制限や退会処分となることがありますので、十分注意してください。
      <br>
      コメントの投稿にはレッスンを出品した講師or生徒として、新規登録orログインが必要です。
  </div>
  <div class="links">
    <% if @lesson.id != @lesson_first.id %>
      <%= link_to '前のレッスン', lesson_path(@lesson.back) ,class:"change-lesson-btn"%>
    <% end %>
    <% if @lesson.id != @lesson_last.id %>
      <%= link_to '後のレッスン', lesson_path(@lesson.next) ,class:"change-lesson-btn"%>
    <% end %>
  </div>
  <a href="#" class='another-lesson'>カテゴリー「<%= @lesson.category.name %>」をもっと見る</a>
</div>

<%= render "shared/footer" %>
